body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.form-container input,
.form-container select {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-container button {
    padding: 10px 20px;
    background-color:darkred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: darkred;
}

.status-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.status {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.status h2 {
    color: #333;
    margin-top: 0;
}

.status p {
    margin: 10px 0;
}
